


body{
    background-color: lightsteelblue;
}


#_homePage{
    margin: 0;
    padding: 0;
}


.homeimg{
position: absolute;
transition: all .3s ease 0s;
display: block;
}

.homeimg img{
    opacity: 1;
    transition: all .3s ease-out 0s;
    width: 100vw;
    height: 90vh;
    margin: auto;
}

.contain{
    position: absolute;
    width: 70%;
    height: auto;
    margin: auto;
    margin-top: auto;
    margin-left: auto;
    position: 50%;
    margin-top: 10%;
    margin-left: 15.5%;}

.contain h1{
    text-align: center;
    font-size: 150px;
    color: rgb(211, 131, 40);
    -webkit-text-stroke: 0.2vw #4c0cdf;
    text-transform: uppercase;
    max-width: 85%;
    margin: auto;
}

.contain h3 {
    text-align: center;
    font-size: 90px;
    color: rgb(211, 131, 40);
    -webkit-text-stroke: 0.2vw #4c0cdf;
    text-transform: uppercase;
    max-width: 85%;
    margin: auto;
} 